#ifndef SECRETS_H
#define SECRETS_H

#define WIFI_SSID "SSID"
#define WIFI_PASSWORD "WIFI_PASSWORD"

#define MQTT_BROKER "LOCAL_IP_TO_MQTT_SERVER"
#define MQTT_USER "MQTT_USER"
#define MQTT_PASSWORD "MQTT_PASSWORD"

#endif